body {
	background-color: #FFC300 !important;
	color: #6c757d !important;
}

label {
	font-family:'Graduate', cursive;
}

button,
div,
form,
input {
  margin: 10px;
}

form {
	float: right;
}

button.topic {
	margin: 10px;
	font-family:'Graduate', cursive;
}



input#add-animal.btn.btn-outline-secondary {
	margin-top: 15px;
	font-family:'Graduate', cursive;
}

img.gif{
	border: 4px solid purple;
	margin: ;
	
}

.gif-items{
	display: inline-block;

}

.gif-items:nth-child(last){
	margin-right: 0;
}